@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$green: #303E48;
$white: #f2f2f2;
$yellow: #D8A57B;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: $white;
}

body{
    header{
        height: 8rem;
        width: 100vw;
        padding: 0 2rem;
        border-bottom: 1px solid $yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: $green;
        #lang-anchor{
            height: 30px;
            width: 30px;
            border-radius: 30px;
            display: grid;
            place-content: center;
            position: relative;
            overflow: hidden;
        }
    }
    main{
        padding-top: 8rem;
        .section-container{
            padding: 50px 0;
            .section-content{
                padding: 0 2rem;
                .section-title{
                    margin-bottom: 1.3rem;
                    padding-left: 8px;
                    border-left: 5px solid #000;
                    font-size: 1.3rem;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                .section-text, .section-list{
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 2.2rem;
                }
                .section-list{
                    padding-left: 1rem;
                    li{
                        margin-top: 0.55rem;
                        &::marker{
                            color: $yellow;
                        }
                    }
                }
            }
        }
        #about-us{
            background-color: $yellow;
            #about-text-content-top{
                #about-title{
                    border-left: 5px solid $white;
                }
            }
            .section-content{
                .section-title, .section-text{
                    color: $green;
                }
            }
        }
        #why-us{
            background-color: $green;
            #why-us-text-content-top{
                #about-title{
                    border-left: 5px solid $yellow;
                }
            }
        }
        .img-container{
            width: 100%;
            height: 200px;
            margin: 37.5px 0;
            position: relative;
        }
        #middle-img-container, #bottom-img-container{
            margin: 0;
        }
        #logo-carousel, #carousel{
            display: none;
        }
    }
    footer{
        padding: 35px 2rem;
        border-top: 2px solid $white;
        background-color: $yellow;
        #footer-contact-container{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            #contact-title{
                font-size: 1rem;
                margin-bottom: 1rem;
                border-left: 5px solid $white;
                padding-left: 8px;
                font-weight: 800;
                text-transform: uppercase;
                color: $green;
            }
            #contact-list{
                height: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                list-style: none;
                line-height: 1.8rem;
                a{
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: $green;
                }
            }
        }
        #footer-copyright{
          display: flex;
          align-items: center;
          p{
              font-size: 0.5rem;
              color: $green;
          }
        }
    }
}

@media screen and (min-width: 425px) {
    body{
        main{
            display: grid;
            background-color: $green;
            #about-us{
                #about-text-content-btm{
                    margin-bottom: 18.75px;
                }
            }
            .section-container{
                display: grid;
                .img-container{
                    width: 80%;
                    max-width: 370px;
                    height: 250px;
                    border: 1px solid $white;
                    justify-self: center;
                }
            }
            .img-container{
                width: 80%;
                max-width: 370px;
                height: 250px;
                border: 1px solid $white;
                justify-self: center;
            }
            #middle-img-container{
                margin-top: -37.5px;
            }
            #bottom-img-container{
                margin-bottom: 37.5px;
            }
        }
        footer{
            margin-top: -100px;
            padding-top: 105px;
            border: none;
        }
    }
}

@media screen and (min-width: 768px) {
    body{
        header{
            padding: 0 4rem;
        }
        main{
            .section-container{
                .section-content{
                    padding: 0 4rem;
                }
            }
        }
        footer{
            padding: 105px 4rem 35px;
        }
    }    
}

@media screen and (min-width: 1024px) {
    body{
        header{
            padding: 0 8rem;
            #lang-anchor{
                font-size: 1.6rem;
                font-weight: 400;
                &:hover{
                    font-weight: 700;
                }
            }
        }
        main{
            .section-container{
                .img-container{
                    height: 350px;
                    max-width: 540px;
                }
                .section-content{
                    padding: 0 8rem;
                    .section-title{
                        font-size: 1.6rem;
                    }
                    .section-text, .section-list{
                        font-size: 1.4rem;
                        line-height: 2.6rem;
                    }
                }
            }
            .img-container{
                height: 350px;
                max-width: 540px;
            }
        }
        footer{
            padding: 105px 8rem 35px;
            #footer-contact-container{
                #contact-title{
                    font-size: 1.3rem;
                }
                #contact-list{
                    height: 7rem;
                    li a{
                        font-size: 1rem;
                    }   
                }
            }
            #footer-copyright p{
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    body{
        main{
            .section-container{
                .section-content{
                    .section-title{
                        margin-bottom: 2.5rem;
                    }
                }
            }
            #about-us{
                padding: 100px 0 300px;
                grid-template-columns: 48% 52%;
                grid-template-rows: 58% 42%;
                grid-gap: 2rem 0;
                #about-img-container{
                    height: 400px;
                    width: 100%;
                    margin: 0 8rem 0 0;
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                    align-self: center;
                    justify-self: flex-end;
                }
            }
            #middle-img-container{
                width: 600px;
                height: 400px;
                max-width: unset;
                margin-top: -200px;
            }
            #why-us{
                padding: 125px 0 100px;
                grid-template-columns: 48% 52%;
                grid-template-rows: 45% 55%;
                .section-content{
                    padding: 0 6rem 0 8rem;
                }
                #list-img-container{
                    margin: 0 8rem 0 0;
                    grid-column: 2 / 3;
                    grid-row: 1 / 3;
                    align-self: center;
                    justify-self: flex-end;
                }
            }
            #bottom-img-container{
                display: none;
            }
            #carousel{
                height: 220px;
                margin: 0 15px;
                display: flex;
                overflow: hidden;
                .carousel-img{
                    height: 100%;
                    min-width: 25%;
                    position: relative;
                    animation: slide 10s infinite;
                    animation-delay: 2s;
                }
            }
            #logo-carousel{
                height: 70px;
                margin: 0 15px;
                padding: 15px 0;
                display: flex;
                justify-content: flex-end;
                overflow: hidden;
                .logo-carousel-img{
                    height: 100%;
                    min-width: 36px;
                    margin: 0 15px;
                    position: relative;
                    animation: logoslide 2s infinite;
                    animation-delay: 1s;
                }
            }
        }
        footer{
            margin: 0;
            padding: 75px 8rem 100px;
        }
    }
}

@keyframes slide {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}

@keyframes logoslide{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(66px);
    }
}